
/* DESKTOP VERSION */

@media only screen and (min-width: 768px) {
  /* Header */

  .toolbar {
    display: none;
  }

  .btn-close-menu {
    display: none;
  }

  .desk-header {
    width: 100%;
    display: flex;
    position: fixed;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #dddfe6;
    background-image: none;
    min-height: 50px;
  }

  .header-menu ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
  }

  .header-menu a {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1a2236;
  }

  /* Transition nav */

  .header-menu a:hover {
    text-decoration: underline;
    font-size: 20px;
    font-weight: bolder;
  }

  /* Introduction */

  .background-picture {
    display: none;
  }

  .desk-background-picture {
    display: block;
    width: 100%;
    height: 100%;
  }

  .introduction {
    background-image: none;
    height: 550px;
    display: flex;
    flex-direction: row;
    justify-items: right;
    justify-content: center;
  }

  .intro-container {
    display: flex;
    flex-direction: space-between;
    align-items: left;
    justify-content: start;
    background-image: url("../assets/image_dots.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 20%;
  }

  .full-name {
    max-width: 400px;
    font-size: 100px;
    line-height: 100%;
  }

  .description {
    max-width: 400px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
  }

  .btn-collaboration {
    min-width: 220px;
  }

  .desk-background-container {
    margin-top: 55px;
    display: flex;
    height: 100%;
    min-width: 450px;
    max-width: 700px;
    background-image: url("../assets/image-geometry_1.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  /* Works section */
  .projects-section {
    margin-top: 200px;
    display: flex;
  }

  .projects-cards {
    margin-top: 100px 20px 20px 20px;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(15, 50px);
    box-sizing: border-box;
    background-image: url('../assets/image_dots.png');
    background-repeat: no-repeat;
    background-position: 200px 20px;
    background-size: 10%;
  }

  #project-card-details {
    width: 100%;
    background-color: #1a2236;
    color: white;
    font-family: 'Poppins', sans-serif;
    visibility: hidden;
    flex-direction: column;
    transition: 1s 1.5s;
  }

  #project-pic:hover ~ #project-card-details {
    transform: translateY(-120px);
    visibility: visible;
    transition: 1s;
  }

  .project-name {
    margin: 0;
    padding: 10px 0 0 10px;
    font-size: 15px;
    line-height: 80%;
  }

  .card-tech {
    color: #1a2236;
    padding: 10px 0 0 10px;
    gap: 6px;
  }

  .btn-see-project {
    margin: 0 0 10px 10px;
    padding: 10px;
    width: 200px;
    background-color: white;
    color: #1a2236;
  }

  .projects-title {
    color: #1a2236;
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: 400;
    transform: rotate(-90deg);
    font-size: 60px;
    margin-top: 180px;
    position: absolute;
  }

  .project-wrapper-1 {
    grid-column: 5/12;
    grid-row: 1/5;
  }

  .project-wrapper-2 {
    grid-column: 1/5;
    grid-row: 6/9;
  }

  .project-wrapper-3 {
    grid-column: 1/7;
    grid-row: 9/13;
  }

  .project-wrapper-4 {
    grid-column: 7/11;
    grid-row: 13/16;
  }

  .project-wrapper-5 {
    grid-column: 8/12;
    grid-row: 7/10;
  }

  .project-wrapper-6 {
    grid-column: 8/12;
    grid-row: 5/7;
  }

  #project-pic {
    width: 100%;
    height: 100%;
  }

  .container-1 {
    grid-column: 5/8;
    grid-row: 5/9;
    background-image: url('../assets/image-geometry_2.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 100%;
  }

  .container-2 {
    grid-column: 1/7;
    grid-row: 13/15;
    background-image: url('../assets/image-geometry_5.png'), url('../assets/image-geometry_4.png');
    background-repeat: no-repeat, no-repeat;
    background-position: top left, top right;
    background-size: 30%, 20%;
  }

  .container-3 {
    grid-column: 7/12;
    grid-row: 9/13;
    background-image: url('../assets/image-geometry_3.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
  }

  /* Modal */

  .modal-container {
    border: 40px solid #1a2236;
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    position: fixed;
    top: 50%;
    transform: translate(0%, -50%) scale(0.73);
    visibility: visible;
  }

  .project-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 80%;
  }

  .project-description {
    font-size: 15px;
    line-height: 27px;
    color: #1a2236;
    padding-left: 120px;
    padding-right: 120px;
  }

  .btns-modal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .btn-modal {
    margin-right: 10px;
    cursor: pointer;
  }

  .next-prev-proj {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
  }

  .prev-btn {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #1a2236;
    border: none;
    background: none;
    cursor: pointer;
  }

  /* About me section */

  .about-me-section {
    margin-top: 200px;
    display: flex;
    column-gap: 10px;
    flex-direction: row-reverse;
    align-content: right;
  }

  .about-me-info {
    max-width: 50%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .about-resume {
    width: 86%;
  }

  .about-title {
    font-weight: 400;
    font-size: 110px;
    line-height: 100%;
  }

  .get-my-cv-btn {
    margin-left: 30px;
    width: 250px;
    height: 70px;
  }

  .get-my-cv-btn:hover {
    font-size: 18px;
    font-weight: 700;
    border: 2px solid;
  }

  .cards {
    margin: 0;
    gap: 0;
    max-width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    background-image: url("../assets/image_dots_with_teal.png");
    background-repeat: no-repeat;
    background-position: bottom 20px right 20px;
    background-size: 44%;
  }

  .card {
    min-width: 190px;
  }

  .languages {
    font-size: 9px;
  }

  /* Contact form */

  .form-section {
    background-color: #f9f9fa;
    background-image:
      url("../assets/image-geometry_6.png"),
      url("../assets/image-geometry_7.png");
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
  }

  .form-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 148px;
  }

  .form-title {
    font-size: 110px;
    padding-left: 30px;
  }

  .form-description {
    margin-top: 40px;
    letter-spacing: -0.01em;
    text-align: start;
    padding-left: 120px;
    max-width: 600px;
  }

  .form-fields {
    display: grid;
    column-gap: 35px;
    row-gap: 40px;
  }

  .name-field {
    height: 50px;
    grid-column: 1;
    grid-row: 1;
    padding: 0;
  }

  .email-field {
    margin-left: 40px;
    height: 50px;
    padding: 0;
    grid-column: 2;
    grid-row: 1;
  }

  .form-message {
    padding: 0;
    grid-column: 1/3;
    grid-row: 2;
  }

  .label {
    text-align: left;
    display: block;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    color: black;
  }

  .btn-submit {
    height: 70px;
    margin-top: 40px;
    margin-bottom: 153px;
  }

  /* Footer */

  footer {
    margin: 0;
    padding: 0;
    height: 123px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .get-my-resume-text {
    display: none;
  }

  .get-my-cv-text {
    padding: 0;
    margin: 0;
    display: block;
    cursor: pointer;
    align-self: flex-start;
  }

  .get-my-resume {
    cursor: pointer;
  }

  .get-my-resume-image {
    padding-top: 0;
    padding-left: 15px;
    margin: 0;
  }

  .logo:hover {
    transform: scale(1.8);
    cursor: pointer;
  }
}

@media only screen and (min-width: 1068px) {
  .description {
    max-width: 400px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
  }

  .about-me-info {
    margin-left: 50px;
    gap: 30px;
  }

  .about-resume {
    width: 46%;
  }

  .card {
    width: 250px;
  }

  .projects-section {
    margin: 60px;
  }

  .projects-title {
    font-size: 60px;
    margin-top: 80px;
  }

  .projects-cards {
    grid-template-rows: repeat(15, 70px);
  }
}